@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; list-style:none; outline:none;}
.banner{
 	width:780px;
 	height:463px;
 	margin:13px auto 15px auto;
 	position:relative;
 	overflow: hidden;
 }
.banner .banner_pic .pic{display:none;}
.banner .banner_pic .current{display:block;}
.banner ol{
	position:absolute;
	left:370px;
	top:425px;
 }
.banner ol .but{
 	float:left;
	width:20px;
	height:20px;
	border:1px solid #eee;
	margin-right:20px;
 }
.banner ol li{cursor:pointer;}
.banner ol .current{
	background:#fe0048;
	float:left;
	width:20px;
	height:20px;
	border:1px solid #fe0048;
	margin-right:20px;
}

